In [ ]:
#Data Analysis, Videogame data, Merry Cimakasky, 9/3/19

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [8]:
game_data = pd.read_csv('vgsales.csv')

In [29]:
game_data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
#most common video game publisher

In [30]:
game_data[['Publisher']].mode()

         Publisher
0  Electronic Arts

In [31]:
#most common platform

In [32]:
game_data[['Platform']].mode()

  Platform
0       DS

In [33]:
#most common genre

In [34]:
game_data[['Genre']].mode()

    Genre
0  Action

In [35]:
#top 20 highest grossing games

In [37]:
game_data[['Global_Sales', 'Name']].sort_values(by="Global_Sales", ascending=False).head(20)

    Global_Sales                                          Name
0          82.74                                    Wii Sports
1          40.24                             Super Mario Bros.
2          35.82                                Mario Kart Wii
3          33.00                             Wii Sports Resort
4          31.37                      Pokemon Red/Pokemon Blue
5          30.26                                        Tetris
6          30.01                         New Super Mario Bros.
7          29.02                                      Wii Play
8          28.62                     New Super Mario Bros. Wii
9          28.31                                     Duck Hunt
10         24.76                                    Nintendogs
11         23.42                                 Mario Kart DS
12         23.10                   Pokemon Gold/Pokemon Silver
13         22.72                                       Wii Fit
14         22.00                                  Wii Fit Plus
15         21.82                            Kinect Adventures!
16         21.40                            Grand Theft Auto V
17         20.81                 Grand Theft Auto: San Andreas
18         20.61                             Super Mario World
19         20.22  Brain Age: Train Your Brain in Minutes a Day

In [38]:
#median of NA sales

In [42]:
game_data[['NA_Sales', 'Name']].median()

NA_Sales    0.08
dtype: float64

In [57]:
NA_Sales = game_data[['NA_Sales', 'Name']].sort_values(by='NA_Sales')
len(NA_Sales)//2
game_data.iat(8299)

ValueError: No axis named 8299 for object type <class 'pandas.core.frame.DataFrame'>

AttributeError: 'DataFrame' object has no attribute 'len'